.logo_img img{
    width: 140px;
    height: 80px;
    justify-content: right;
    overflow: hidden;
    float: right;
    object-fit:cover;

}
.header-text{
  font-family: 'flamante-sans-bold', sans-serif;
  gap: 6px;
  display: flex;
  flex-direction: column;
}
.partthree ion-icon{
  font-size: 30px;
  margin-right: 10px;
}
.logo_img{
    width: 20%;
    overflow: hidden;
    height: auto;
}
.main_header_link{
    display: flex;
    font-size: 10px;
    text-align: center;
    gap: 2.5px;
    justify-content: flex-end;
}
.main_header{
    display: inline-flex;
    max-height: 100px;
    height: 100px;
    width: 100%;
    background-color: #231F1E;
    color: var(--gray);
    justify-content: space-between;
    align-items: center;
}
.partthree{
    display: inline-flex;
    color: var(--white);
    gap: 3px;
    align-items: center;
    width: 238px;
}
.divider_header{
    background-color: var(--white);
    height: 0.05px;
    /* margin-top: 2px */
}
.user_image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--gray);
    overflow: hidden;
    align-items: center;
    text-align: center;
}
ul{
    width: 110px;
    background-color: var(--white);
    height: 8px;
    margin: 0px;
    padding: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.label {
    border: 0px none;
  }
  
  .label .FIND-YOUR-PERFECT {
    color: transparent;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
text-align: center;  
font-family: 'CustomFont800';}
  
  .label .text-wrapper {
    color: var(--gray);
  }

  .main_card_image{
    mix-blend-mode: multiply;
    width: 169px;
  }
  .inside_card{
    margin: 10px;
  }
  .inside_card_title{
    margin-top: -35px;
    color: var(--gray);
  }
  .inside_card_title span{
    color: var(--red);
    }
  .info_card, .side_info{
    font-size: 14px;
  }
  .info_card_variants{
    color: var(--gray);
  }
  .stars{
    background-color: #c3bebe;
    border-radius: 50px;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
  }

  
  .label .text-wrapper-2 {
    color: var(--red);
  }
  .search_tabs{
    display: flex;
    gap: 2%;
    width: auto;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    background: none;
}
.full_tabs{
    width: 128px;
    height: auto;
    background-color: var(--lightgray);
    border: 1px solid var(--gray);
    padding: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: var(--gray);
}

.full_tabs.active{
    background-color: var(--black);
    border: 1px solid var(--gray);
    color: var(--white) !important;
}
.full_tabs:hover{
    background-color: var(--black);
    border: 1px solid var(--gray);
    color: var(--white) !important;
    cursor: pointer;
}
.input_box{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
}
.input_box input{
padding-left: 20px;
font-size: 16px;
}
.input_box_input{
    width: 65%;
    height: 36px;
    border: 2px solid var(--black);
}
.search_btn{
    height: 41px;
    width: 36px;
    background-color: var(--black);
    margin-left: -37px;
    cursor: pointer;

}
.search_btn ion-icon{
    color: var(--white);
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    margin: auto;
    margin-top: 14%;
}
.input_box_below{
    width: 45%;
    text-align: center;
    margin-top: 2px;
}
.input_box_below span{
  color: #818181;
font-family: Montserrat;

}
.advance_bars{
    width: 50%;
    text-align: center;
    display: contents;
}
.advance_bars li{
    display: flex;
    font-size: 18px;
}
.price-range {
    margin-left: 5px;
  }
.advance_bars_back{
    background-color: var(--gray);
    color: var(--white);
    padding: 10px;
    width: 110px;
justify-content: center;
}
.advance_bars_back:hover{
    background-color: var(--red);
    cursor: pointer;
}
.advance_bars_back.active{
    background-color: var(--red);
    cursor: pointer;
}
.margin_gap{
    width: -10px;
    height: 50px;
    border-left: 3px dashed var(--gray); 
}
.addmargin{
    /* margin-top: 30px; */
}
.select_section{
    display: flex;
}
.select_section_main{
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: auto;
}
.fule_colour{
    color: var(--red);
}
.ad_space{
    width: 464px;
    height: 87px;
    background-color: #b1081933;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.fule_text {
    font-size: 24px !important;
    font-family: 'CustomFont800' !important;


}
.select_fuel, .select_fuel:hover, .select_fuel::selection{
    border: 2px solid var(--gray);
    width: 200px;
    height: 40px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.select_fuel_price {
    width: 200px;
    height: 40px;
    background-color: var(--gray);
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--white);
}
.select_section_under{
    justify-content: space-between;
    display: flex;
    gap: 20px;
}
.back_image {
    position: relative;
  }
  
  .back_image::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -150px;
    width: 80%;
    height: 150%;
    background-image: url('../Images/tyremask.png');
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
    background-repeat: no-repeat;
    rotate: 350deg;
}

.back_image-down {
    position: relative;
  }
  

  .back_image-down::before {
    content: "";
    position: absolute;
    top: -50px;
    right: -50px;
    width: 70%;
    height: 99%;
    background-size: cover;
    background-image: url('../Images/tyremask.png');
    opacity: 0.1;
    z-index: -1;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    /* transform: rotate(45deg); */
    rotate: 15deg;
}


  .featurd_car{
    width: 100%;
    background-color: #DFDFDFCC;
    padding-top: 1px;
    padding-bottom: 20px;
  }
  .top-pic-car , .mo-storiesec{
    width: 100%;
    background-color: transparent;
    padding-top: 1px;
    padding-bottom: 20px;
  }
  .brand{
    font-size: 32px !important;
    font-family: 'CustomFont800' !important;
  }


  .logos-section {
    text-align: center;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;  
 }

  .logos-container {
    transition: transform 0.3s ease-in-out;
    column-count: 70;
    display: table-cell;
    overflow: hidden;
  }

  .brand_logos{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
    text-align: center;
  }

  .logo-image {
    width: 70px;
    height: 70px;
    margin: 5px;
  }
  .center_logo{
    display: flex;
    justify-content: center;
  }
  .video-section{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto;
    gap: 20px;
    column-gap: 10px;
    row-gap: 0px;

  }
  .main-video-section{
    width: 214px;
    box-sizing: border-box;
    padding: 10px; 
    gap: 20px;
  }
  .main-video-section img{
    width: 214px;
    border-radius: 6.4px;

  }
  .video-title{
    color: #818181;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
  }
  .video-dec{
    color: #818181;
text-align: justify;
text-overflow: ellipsis;
whitespace: nowrap;
font-family: Montserrat;
font-size: 6px;
font-style: normal;
font-weight: 400;
  }

  /* mo-design css */
  .brand_storie{
    width: 70%
  }
  .main-storie-section img{
    height: 370px;
    width: 180px;  
    border-radius: 24px;
    z-index: -1;
    position: relative;
  }
  .storie-details{
    margin-top: -50px;
    width: 170px;
    background: linear-gradient(180deg, #fff6f250 20.73%, #646160 34.67%);
    z-index: 99999;
    margin-left: 5px; 
    border-radius: 0px 0px 24px 24px;
    padding: 5px;
    color: var(--white);
  }
  .storie-container{
    display: flex;
  }
  .storie-section{
    width: 100%;
    overflow: hidden;
  }
  .center_storie{
    justify-content: center;
    display: flex;
  }
  .storie-title{
    font-size: 14px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;  }
  .storie-dec{
    font-size: 14px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
   }

   /* Card Comparision */
   .comparo-card{
    width: 300px;
    height: 158px;
    padding: 10px;
    overflow: hidden;
    border: 2px solid var(--gray);
    -webkit-box-shadow: 0 0 5px 2px var(--gray);
    -moz-box-shadow: 0 0 5px 2px var(--gary);
    box-shadow: 0 0 10px 0.5px var(--gray);
   }
   .car-comp-img{
    width: 100%;
    max-height: 100px;
   }
   .car-com-section{
    gap: 10px;
    display: flex;
   }
   .slider_btn_white{
    background-color: var(--white);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--gray);
    font-size: 20px;
    margin: 10px;
    border: 3px solid var(--gray);
  }  
  .comp-description{
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
    gap: 7px;
  }
  .comp-description-brand{
    color: var(--gray);
font-family: CustomFont;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .comp-description-model{
    color: var(--red);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
  }
  .comp-description-price{
    color:var(--gray);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  .copm-cards{
    width: 70%;
    overflow: hidden;
  }
  .vs-item{
    position: absolute;
    color: #FCFCFC;
font-family: Montserrat;
font-size: 14.4px;
font-style: normal;
font-weight: 600;
width: 30px;
height: 30px;
flex-shrink: 0;
background-color: var(--black);
border-radius: 50px;
align-items: center;
display: flex;
justify-content: center;
top: 60px;
margin-left: -10px;
  }

  /* NEWS UPDATE */
  .news-cardsection{
    overflow: hidden;
    width: 70%;

  }
  .card-section-top{
    overflow: hidden;
    justify-content: center;
  }
  .card-body-com{
    width: 300px;
    margin-right: 20px;
  }
  .com-image{
    width: 300px;
    height: auto;
  }
  .news-title{
    color: var(--black);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  .news-description{
    color: var(--black);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .news-url{
    color: var(--red);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 300px;
text-align: end;
margin-top: -10px;
  }

/* css footer */
footer{
  width: 100%;
  height: 139px;
  background: #040404;
  color: #FFF6F2 !important;
  font-family: Roboto !important;
  justify-content: center;
  display: flex;
  align-items: center;
}
.inside-footer{
  width: 90%;
  display: flex;
}
.link-logos{
  width: 70%;
  margin-left: 40px;
}
.social-power{
  width: 30%;
}
.links-footer{
  list-style-type: none;
  width: auto !important;
    background-color: transparent;
    height: auto;
    margin: 0px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--white);
}
.footer-image img{
  width: 87px;
height: 55px;
}
.footer-image{
  gap: 80px;
  align-items: center;
  display: flex;
}
.copyright-txt{
  margin-top: 1%;
}
.logos-link{
  display: flex;
  font-size: 30px;
  gap: 10px;
  color: #040404;
}
.logos-link div{
  display: flex;
  font-size: 30px;
  background-color: var(--lightgray);
  border-radius: 50px;
  width: 44px;
height: 44px;
display: flex;
align-items: center;
justify-content: center;
}
.brandklin{
  width: 161px;
height: 25px;
}
.scrach-image{
  position: absolute;
  width: 150px;
  top: 200px;
}
.scrach-image-feul{
  position: absolute;
  width: 150px;
  right: 0;
  bottom: 10px;
}
.scrach-image-brand{
  position: absolute;
  width: 150px;
  left: 0;
  /* bottom: 10px; */
}
.scrach-image-news{
  position: absolute;
  width: 150px;
  right: 0;
  /* bottom: 0px; */
  margin-top: 80px;
}