@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Armstrong\ 400.otf') format('opentype');
}
@font-face {
  font-family: 'CustomFont800';
  src: url('./fonts/Armstrong\ Extrabold\ 800.otf') format('opentype');
}
::selection {
  color: red;
  background: yellow;
}
:root {
  --gray: #767678;
  --white: #ffffff; 
  --red:#b10819;
  --black:#000000;
  --lightgray:#F1F1F1;
}
body {
  margin: 0;
  font-family: 'CustomFont';
}
code {
  font-family:  'CustomFont';
}

